# Use latest PyTorch compatible with Colab (CUDA 12.4)
torch
torchvision

# JAX with CUDA 12 support
jax[cuda12]

# Updated TensorFlow version (compatible with CUDA 12)
tensorflow

# TensorFlow-related packages
tensorflow-gan
tensorflow_io
tensorflow_datasets
tensorboard

# Other required packages
h5py
configargparse
lmdb
torchdiffeq
tfrecord
matplotlib
scikit-learn

ninja
jaxlib
matplotlib_inline
IPython
