# Use latest PyTorch compatible with Colab (CUDA 12.4)
torch
torchvision

# JAX with CUDA 12 support
jax[cuda12] -f https://storage.googleapis.com/jax-releases/jax_releases.html

# Updated TensorFlow version (compatible with CUDA 12)
tensorflow

# TensorFlow-related packages
tensorflow-gan
tensorflow_io
tensorflow_datasets
tensorflow-addons
tensorboard

# Other required packages
ninja
h5py
configargparse
lmdb
torchdiffeq
tfrecord
matplotlib
scikit-learn
